<!DOCTYPE html>
<html>
  <head>
    <title>Echo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script type="text/javascript">
      // window.logoURL = "<%= image_url("") %>";
      // window.logoblackURL = "<%= image_url("") %>";
      // window.loginURL = "<%= image_url("") %>";
      // window.errorURL = "<%= image_url("") %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
