<!DOCTYPE html>
<html>
  <head>
    <title>Echo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script type="text/javascript">
      // window.logoURL = "<%= image_url("") %>";
      // window.logoblackURL = "<%= image_url("") %>";
      // window.loginURL = "<%= image_url("") %>";
      // window.errorURL = "<%= image_url("") %>"
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
